<!--Implementing a show view-->
<h1>Showing selected article</h1>


<!--Grabbing the article instance variable and render title and description-->
<p>
  Title: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>

<!--Link back to edit_article_path or articles_path-->
<%= link_to 'Edit this article', edit_article_path(@article) %> |
 <%= link_to 'Back to articles listing', articles_path %>