<!--Home page for website-->

  


<div class="center jumbotron" >
  <h1>Micro-Blog</h1>
<!--Link to sign up with a boostrap button-->
<%= link_to 'Sign up now', "#", class: "btn btn-lg btn-xlarge" %>
</div>