
//CSS for navbar color
$navbar-default-bg: #edd2bc;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

//CSS for logo
#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-tranform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover{
  color: #fff;
  text-decoration: none;
}



//CSS for jumbotron
.center{
  text-align: center;
}
//CSS for adding an image
.jumbotron{
  background-image: asset-url("micro_blog_home_img.jpg");
  background-size: cover;
  height: 600px;
}
//CSS for jumbotron h1
.jumbotron h1{
  color: #9b6e46;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

//CSS for sign-up button
.btn-xlarge{
  font-size: 1.7em;
  background-color:  #edd2bc;
  color: #9b6e46;
}

//CSS for created by and updated by tag
.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description{
  margin-top: 0;
}

//CSS for index.html.erb
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

//CSS for all user index
.listing{
  list-style: none;
  padding-left: 0px;
}

//CSS for footer
footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a:hover{
  color: #222;
}
footer small{
  float: left;
}
footer ul{
  float: right;
  list-style: none;
}
footer ul li{
  float: left;
  margin-left: 15px;
}

//CSS for button, over-riding default colors
.btn{
  background-color:#FA8072 !important;
}



